body{
    font-family: sans-serif;
    background: rgba( 71, 147, 227, 1);
}

.fl-table {
    margin: auto;
    border-radius: 5px;
    font-size: 30px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 90%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 20px;
}

.fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

.table-wrapper{
 width: 80%;
 margin: auto;

}